body {
	font: 100%/1.2 Helvetica, Arial, sans-serif;
	color: #000;
}

a, a:hover {
	font: 100%/1.2 Helvetica, Arial, sans-serif;
	text-decoration: none;
}

td, p {
	font: 100%/1.2 Helvetica, Arial, sans-serif;
}

h3 {
	font: 100%/1.2 Helvetica, Arial, sans-serif;
	margin-bottom: 1em;
}

h2 {
	font: 150%/1.5 Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	padding-left: 0.5em;
}

th {
	font: 150%/1.5 Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	padding-left: 0.5em;
	width: 33%;
}

.blq-hide {
	position: absolute;
	left: -9999px;
}

#global-header, #local-header, #footer-content {
	max-width: 976px;
	margin: 0 auto;
}

/* Page header */

header {
	background-color: #cd0102;
}

#global-header {
	padding: 0.5em;
	background-color: #520000;
}

#global-header img {
	display: block;
}

#local-header {
	color: #fff;
	font-family: "Gill Sans";
	padding-bottom: 0.5em;
}

#local-header a {
	color: #fff;
	font-size: 3em;
}

#local-header .location {
	font-size: 2em;
	margin-left: 0.5em;
}


/* Page layout */

#container {
	overflow: hidden;
	max-width: 976px;
	margin: 0 auto;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

/* Footer */

footer {
	color: #fff;
	background-color: #666;
}

#footer-content {
	padding: 1em 0;
}

#footer-content p {
	margin: 0;
}

/* Media queries */

@media screen and (max-width: 1024px) {
	/* TODO */
}
